<!DOCTYPE html>
<html lang="pt-br" ng-app="dia26app">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Concisa</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<script src="js/dia25Ctrl.js"></script>
	<script src="js/angular.js"></script>
    
	<style>
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}
		
		main {
			flex: 1 0 auto;
		}
		
		* {
			margin: 0;
			padding: 0;
		}
		.img_concisa{
			margin: 5px;
			max-width: 100%;
		}
		.rBlueIcon {
			color:#0d47a1 ;
		}
		.collection{
			margin:40px;
			border:none;
		}
		.titulo{
			margin-top:40px;
			margin-left:40px;
		}
	</style>
	<script>
		var app = angular.module('myapp', ['ngRoute','ngResource']);
		angular.module('dia26app', []).controller('mainController', function ($scope) {

        // create the list of sushi rolls 
        $scope.horarios = [
            {
                'horario': '8h30',
                'sala': 'Auditório Otton Fava',
                'minicurso': 'O Instituto da representação e o fim dos votos secretos dos agentes políticos',
                'Instrutor': 'Clênio Ricardo Fonseca Santos',
                'vagas': '92'
            },
            {
                'horario': '9h30',
                'sala': 'V101',
                'minicurso': 'Minicurso:  Usucapião administrativa x usucapião de bem público',
                'Instrutor': 'Serciane Bousada Peçanha',
                'vagas': '50'
            },
            {
                'horario': '9h30',
                'sala': 'V102',
                'minicurso': 'Minicurso:  Partilha Sucessória',
                'Instrutor': 'Maruza Cruz Pinto Lima',
                'vagas': '50'
            },
            {
                'horario': '9h30',
                'sala': 'V103',
                'minicurso': 'Minicurso:  Processo de conhecimento',
                'Instrutor': 'Ronaldo Souza Borges',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'Ipatinga E301',
                'minicurso': 'Minicurso:  Partilha Sucessória',
                'Instrutor': 'Maruza Cruz Pinto Lima',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'Auditório Otton Fava',
                'minicurso': 'Palestra: Minha Vida nos Quadrinhos',
                'Instrutor': 'João Marcos (Mestre em Artes Visuais pela Escola de Belas Artes da UFMG)',
                'vagas': '90'
            },
            {
                'horario': '19h',
                'sala': 'Auditório Padres do Trabalho',
                'minicurso': 'Palestra: O profissional de comunicação que você precisa ser e ainda não te contaram. Sim, talvez você esteja F*&$%#',
                'Instrutor': 'Leandro Vieira (Fundador e CEO da Apiki, empresa especializada no desenvolvimento web com WordPress).',
                'vagas': '95'
            },
            {
                'horario': '19h',
                'sala': 'Auditório Sr. Zezinho',
                'minicurso': 'Palestra: Flexibilidade do trabalho na modalidade home office.',
                'Instrutor': 'Márcia Gonçalves De Souza',
                'vagas': '120'
            },
            {
                'horario': '19h',
                'sala': 'V103',
                'minicurso': 'Como elaborar controles financeiros',
                'Instrutor': 'José Geraldo Teixeira',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V110',
                'minicurso': 'Logística Internacional ',
                'Instrutor': 'Rosemary Gomes',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V111',
                'minicurso': 'Oficina - Excel Avançado',
                'Instrutor': 'Steiner Sather, Cinthia Cristina Souza Santos e Jenniffer Maysa C. Silva',
                'vagas': '25'
            },
            {
                'horario': '19h',
                'sala': 'V112',
                'minicurso': 'Minicurso:  Investigação Policial',
                'Instrutor': 'Gilmaro Alves Ferreira',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V202',
                'minicurso': 'Minicurso: Target Costing',
                'Instrutor': 'Jens Erik Hansen',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V302',
                'minicurso': 'CONCISA Ciência: Seminário de Teses e Dissetarções'+
                'Prof. Robésio Teixeira Gomes: "Fatores Impeditivos da Formação de Redes Empresariais: Um Estudo do Setor de Artefatos de Inoxidável em Timóteo, Minas Gerais"'+
                'Prof.ª Nathalie de Castro Moreira: "UNILESTE - Cultura Organizacional e Identidade"'+
                'Prof. José Geraldo Teixeira: Inovação como Diferencial Competitivo em Pequenas e Médias Empresas de Inox na Cidade de Timóteo - MG ',
                'Instrutor': 'Moderador: Prof. Carlos Alberto Serra Negra',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V303',
                'minicurso': 'Minicurso: Introdução ao Direito Urbanístico',
                'Instrutor': 'Juliana Dornelas M. Flores De Mendonça',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V304',
                'minicurso': 'Minicurso: HP 12C ',
                'Instrutor': 'Fernando Cesar Lemos Morais',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V305',
                'minicurso': 'Minicurso:  Processo Legislativo: Aspectos Gerais',
                'Instrutor': 'Maurisson Magno De Morais',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V306',
                'minicurso': 'Minicurso:  Falta de estabelecimento penal adequado e autorização para regime menos severo',
                'Instrutor': 'Pierry Souza Abrantes',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V307',
                'minicurso': 'Minicurso:  Direito Internacional Humanitário',
                'Instrutor': 'Ranidson Gleyck Amancio E Souza',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V308',
                'minicurso': 'Minicurso:  Processo de conhecimento',
                'Instrutor': 'Ronaldo Souza Borges',
                'vagas': '50'
            },
            {
                'horario': '19h',
                'sala': 'V310',
                'minicurso': 'Minicurso:  Alguns apontamentos das repercussões do novo CPC no processo do trabalho',
                'Instrutor': 'Tarcisio Anicio Pereira',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V103',
                'minicurso': 'Minicurso: Marketing Pessoal',
                'Instrutor': 'Erika Sampaio Pascoal Assis',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V110',
                'minicurso': 'Minicurso: Logística Internacional',
                'Instrutor': 'Rosemary Silva Gomes',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V112',
                'minicurso': 'O Instituto da representação e o fim dos votos secretos dos agentes políticos',
                'Instrutor': 'Clênio Ricardo Fonseca Santos',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V202',
                'minicurso': 'Target Costing',
                'Instrutor': 'Jens Erik Hansen',
                'vagas': '50'
            },
             {
                'horario': '20h55',
                'sala': 'V302',
                'minicurso': 'CONCISA Ciência: Seminário de Teses e Dissetarções' +        
                'Prof. Teophilo de Araujo: "Da des-reterritorialização do Direito do Estado Soberano Nacional"' +
                'Prof.ª Ana Cláudia de Freitas - "Documentário em Animação: tenuidade e simbiose entre ficção e não ficção".'+ 
                'Prof. Daniel Veiga Pimenta - "Mudança Climática e Movimento Populacional: propostas para o enfrentamento do problema dos deslocados ambientais".',
                'Instrutor': 'Moderador: Prof. Wallace Carvalho',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V303',
                'minicurso': 'Minicurso: Diferencial de alíquota de ICMS',
                'Instrutor': 'Eneias Pereira Fernandes',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V304',
                'minicurso': 'Minicurso: HP 12C ',
                'Instrutor': 'Fernando Cesar Lemos Morais',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V305',
                'minicurso': 'Minicurso:  Usucapião administrativa x usucapião de bem público',
                'Instrutor': 'Serciane Bousada Peçanha',
                'vagas': '50'
            },
            {
                'horario': '20h55',
                'sala': 'V306',
                'minicurso': 'Minicurso: Da Des-reterritorialização do Direito do Estado Soberano Nacional',
                'Instrutor': 'Teophilo De Araujo',
                'vagas': '50'
            },
        ];

    });
	</script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper #ffffff white">
			<a href="index.html"><img src="img/concisa.png" class="img_concisa" ></a>
			</div>
		</nav>
	</header>
	</header>
	<main>
		<div class="container" ng-controller="mainController">
			<input type="text" ng-model="criterioDeBusca" class="form-control" placeholder="Pesquisa">
			<table class="responsive-table">
				<thead>
					<tr>
						<th>Horário</th>
						<th>Local</th>
						<th>Evento</th>
						<th>Descrição</th>
						<th>Qtd.Vagas</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="horario in horarios | filter:criterioDeBusca">
						<td>{{horario.horario}}</td>
						<td>{{horario.sala}}</td>
						<td>{{horario.minicurso}}</td>
						<td>{{horario.Instrutor}}</td>
						<td>{{horario.vagas}}</td>
						<td colspan="2"><b>19h às 22h</td>
											<td colspan="2"><b>Empresa Ação (Feira de empreendedorismo – negócios, praça de alimentação e shows)</td>
										</tr>
									</tbody>
								</table>
			</div>
	</main>
	<footer class="page-footer #ffffff white">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h5 class="center-align"><img src="img/unileste.png"></h5>
					<p class=" text-lighten-4 center-align">Obrigado por fazer parte do nosso aplicativo de qualidade colaborativa!</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright #0d47a1 blue darken-4">
			<div class="container center-align #0d47a1 blue darken-4">
				© 2016 Copyright - Desenvolvido por <a href="https://www.facebook.com/manuela.valentim "><span class="white-text ">Manuela Valentim</span></a>
			</div>
		</div>
	</footer>



	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.js"></script>
	<script>
      $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  </script>
</body>

</html>